* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(grey, lightgrey, lightblue, blue);
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
  border: solid 2px;
  border-radius: 20px;
}
.active {
  font-weight: bold;
  text-decoration: underline !important;
}
.name {
  padding: 2rem;
}
.name h1 {
  font-size: 40px;
}
.links {
  word-spacing: 1rem;
  padding: 2rem;
}
.links a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
main {
  height: 100vh;
  margin: 50px 25px 25px 25px;
  border: solid 2px;
  border-radius: 20px;
}
.header1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 25px;
}
.para1 {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.para1 p {
  padding-left: 5rem;
  font-size: 25px;
  width: 550px;
  font-weight: bold;
  text-align: center;
}
.para1 img {
  margin: 3rem;
  border-radius: 30px;
}
.header2 {
  margin-top: 2rem;
  text-align: center;
  font-size: 25px;
}
.para2 {
  margin: 2rem 5rem 0 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.para2 p {
  padding-left: 5rem;
  font-size: 25px;
  width: 550px;
  font-weight: bold;
  text-align: center;
}
.para2 img {
  border-radius: 20px;
}
.para3 {
  margin: 2rem 5rem 0 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.para3 p {
  padding-left: 5rem;
  font-size: 25px;
  width: 550px;
  font-weight: bold;
  text-align: center;
}
.para3 img {
  border-radius: 20px;
}
.header3 {
  margin-top: 2rem;
  text-align: center;
  font-size: 25px;
}
.project {
  width: 800px;
  color: black;
  margin: auto;
  padding: 1em;
}
.project h2 {
  font-weight: 500;
  font-size: 2em;
}
.portfolio-img{
  width: 240px;
  margin-left: 1em;
  margin-bottom: 1em;
  float: right;
}
footer {
  margin: 50px 25px 25px 25px;
  border: solid 2px;
  border-radius: 20px;
  text-align: center;
}
.links2 {
  margin: 1rem;
}
