*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.name{
    margin-top: 2rem;
    margin-left: 2rem;
}
.name h1{
    font-size: 50px;
}
.links{
    margin-top: 2rem;
    margin-right: 2rem;
    word-spacing: 1rem;
    
}
.links a{
    font-size: 25px;
    text-decoration: none;
}